@media (max-width: 1024px) {
    /* При ширине экрана 1024px и меньше меняем сетку галереи на 2 колонки */
    .gallery-grid {
        display: flex;             
        gap: 25px;                 
        flex-wrap: wrap; 
    }
}

@media (max-width: 768px) {
    /* При ширине экрана 768px и меньше меняем направление флекс-контейнера с рядного на колонку */
    .cards{
        flex-direction: column;
    }
        header, main, footer{
        padding-left: 15px;
        padding-right: 15px;
    }
}


@media (max-width: 480px) {
    /* При ширине экрана 480px и меньше меняем направление списка навигации на вертикальное */
    nav ul {
        flex-direction: column;
        gap: 10px;
    }
        .gallery-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}
